/* Root-level variables for color and styling values */
:root {
    --hovercolor: rgb(165, 201, 232);
    --activecolor: rgb(214, 228, 241);
    --boxshadow: 0px 1px 0px grey;
    --backgroundcolor: rgb(133, 187, 235);
}

/* Styling for anchor (link) elements */
a {
    text-decoration: none;
    background-color: var(--backgroundcolor);
    border: solid 1px black;
    border-radius: 3px;
    box-shadow: var(--boxshadow);
    color: black;
    width: fit-content;
}

/* Hover effect for an element with ID "highscore" */
#highscore:hover {
    background-color: var(--hovercolor);
}

/* Click effect for an element with ID "highscore" */
#highscore:active {
    background-color: var(--activecolor);
}

/* Styling for the main element */
main {
    text-align: center;
}

/* Styling for button elements */
button {
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    background-color: var(--backgroundcolor);
    border: solid 1px black;
    box-shadow: var(--boxshadow);
    font-size: medium;
}

/* Hover effect for button elements */
button:hover{
    background-color: var(--hovercolor);
}

/* Click effect for button elements */
button:active{
    background-color: var(--activecolor);
}

/* Styling for an element with ID "buttons" */
#buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

/* Styling for elements with class "option" and element with ID "start-quiz" */
.option,
#start-quiz {
    margin-top: 3px;
    text-align: left;
    width: fit-content;
}

/* Styling for an element with ID "instructions" */
#instructions {
    font-size: 20px;
}

/* Styling for an element with ID "results" */
#results {
    font-style: italic;
    color: gray;
}

/* Styling for a class "card" */
.card {
    width: fit-content;
    margin: auto;
    background-color: aliceblue;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

/* Styling for label elements */
label {
    font-size: medium;
    font-weight: bolder;
}

/* Styling for an element with class "initials-list" */
.initials-list {
    list-style-type: none;
}

/* Styling for input elements */
input {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid rgb(47, 46, 46);
    border-radius: 5px;
}

/* Styling for an element with class "submit" */
.submit {
    margin-bottom: 8px;
}
